@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.products {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.products__item {
}

.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}

.cart {
  display: flex;
  flex-direction: column;
}

.cart__item {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
